/* Projeto Theodoro  bertol Suinocultura */
:root {
    --texto: #0E0E0E;
    --background: #F0DCB9;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: var(--background);
    color: var(--texto);
}

header {
    background: var(--background);
    color: var(--texto);
    padding: 20px 0;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 2% 0;
}

/* Navegação */
.caixa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.caixa img {
    width: 200px !important;
    margin-right: 20px
}

h1 {
    margin: 0;
    font-size: 1.5em;
    /* Adjusted relative font size */
}

nav {
    display: flex;
}

.navegacao {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navegacao li {
    margin-right: 2%;
    /* Example relative margin */
}

.navegacao a:hover {
    color: #BA6151;
}

.navegacao a {
    text-transform: uppercase;
    color: var(--texto);
    font-weight: bold;
    font-size: 1.2em;
    /* Adjusted relative font size */
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.navegacao a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1em;
    /* Adjusted relative height */
    bottom: 0;
    left: 0;
    background-color: #BA6151;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.navegacao a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;

}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .caixa {
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
    }

    nav {
        margin-top: 2%;
        /* Example relative margin */
    }

    .navegacao {
        flex-direction: column;
    }

    .navegacao li {
        margin: 2% 0;
        /* Example relative margin */
    }
}

/* FIM Navegação */

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal {
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 1em;
}

/* index */
html {
    height: 100%;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
}

.parallax {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.section1 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    transform-style: preserve-3d;
    background: url("outer-layer-blur.png") top center;
    /* Add this line for the background image */
    background-size: cover;
    /* Adjust as needed */
}

.section1::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../IMGs/base.jpg") top center;
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
    filter: blur(2px);
}

.section1::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../IMGs/outer-layer-blur.png") top center;
    background-size: cover;
}

.section1 .text {
    position: absolute;
    font-family: 'Franklin Gothic Heavy';
    font-size: 4vw;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 5px 5px 70px rgba(255, 255, 255, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(-0.5px) scale(1.5, 1.6);
}


.main {
    width: 100%;
    padding: 20px;
}

.principal-index {
    text-align: center;
    margin-top: 50px;
    width: 50%;
}

.titulo-principal-index {
    font-size: 2em;
    color: var(--texto);
}

.porco-feliz-index {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
    box-shadow: 10px 10px 10px #000000;
}

/* FIM index */
.mapa {
    padding: 3em 0;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.video {
    width: 560px;
    margin: 5em auto;
    box-shadow: 10px 10px 10px #000000;
}

footer {
    text-align: center;
    background: url("../IMGs/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}

/* Rodapé */

footer img {
    margin-top: 1%;
    width: 5%;
}

.copyright {
    color: black;
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 1%;
}

/* FIM Rodapé */

/* Entrada Ração porcos */
.principal img {
    max-width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 50%;
}

.formulario-entrada-racao {
    display: inline-block;
    vertical-align: top;
}

.formulario-entrada-racao label,
.formulario-entrada-racao input {
    display: block;
    margin-bottom: 10px;
}

/* FIM Entrada Ração porcos */


@media screen and (max-width: 480px) {

    .caixa,
    .principal,
    .mapa-conteudo,
    .video {
        width: auto;
    }

    nav {
        position: static;
        text-align: center;
    }

    .porco-feliz {
        margin: 2%;
        box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.50);
    }


    .mapa-conteudo,
    .video {
        width: 97%;
        margin: 2%;
        box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.50);
    }

    .produtos li {
        display: inline-block;
        flex-direction: column;
        width: 95%;
        margin: 2%;
    }

    form,
    .input-padrao {
        width: 50%;
        margin: 20px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    table {
        margin: 20px auto;
    }
}